body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u72710 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:40px;
  width:1920px;
  height:937px;
  display:flex;
}
#u72710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72711 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:53px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72711_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1675px;
  height:862px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72712 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:112px;
  width:1675px;
  height:862px;
  display:flex;
}
#u72712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72713 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:301px;
  width:71px;
  height:20px;
  display:flex;
}
#u72713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72714 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:204px;
  width:71px;
  height:20px;
  display:flex;
}
#u72714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72715 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:456px;
  width:71px;
  height:20px;
  display:flex;
}
#u72715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72715_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72716_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72716 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:200px;
  width:300px;
  height:79px;
  display:flex;
}
#u72716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72716_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72716.disabled {
}
#u72717 label {
  left:0px;
  width:100%;
}
#u72717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u72717 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:301px;
  width:100px;
  height:18px;
  display:flex;
}
#u72717 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u72717_img.selected {
}
#u72717.selected {
}
#u72717_img.disabled {
}
#u72717.disabled {
}
#u72717_img.selectedDisabled {
}
#u72717.selectedDisabled {
}
#u72717_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u72717_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u72718 label {
  left:0px;
  width:100%;
}
#u72718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u72718 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:301px;
  width:100px;
  height:18px;
  display:flex;
}
#u72718 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u72718_img.selected {
}
#u72718.selected {
}
#u72718_img.disabled {
}
#u72718.disabled {
}
#u72718_img.selectedDisabled {
}
#u72718.selectedDisabled {
}
#u72718_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u72718_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u72719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72719 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:456px;
  width:175px;
  height:16px;
  display:flex;
}
#u72719 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72719_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u72720 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:456px;
  width:29px;
  height:20px;
  display:flex;
  color:#0000FF;
}
#u72720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72720_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72721 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:393px;
  width:140px;
  height:40px;
  display:flex;
}
#u72721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:806px;
}
#u72722 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:33px;
  width:1409px;
  height:806px;
  display:flex;
  color:#FF0000;
}
#u72722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u72723 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:34px;
  width:1409px;
  height:41px;
  display:flex;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u72723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72724 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:147px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u72725 {
  border-width:0px;
  position:absolute;
  left:2113px;
  top:96px;
  width:323px;
  height:20px;
  display:flex;
  color:#FF0000;
}
#u72725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72726 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:478px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72727_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72727 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:159px;
  width:300px;
  height:25px;
  display:flex;
}
#u72727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72727_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72727.disabled {
}
#u72728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72728 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:164px;
  width:71px;
  height:20px;
  display:flex;
}
#u72728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72729 {
  border-width:0px;
  position:absolute;
  left:2113px;
  top:186px;
  width:1290px;
  height:247px;
}
#u72730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u72731 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u72731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72732 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u72733 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u72733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72734 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72735 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u72736 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:290px;
  height:30px;
  display:flex;
}
#u72736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u72738 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FF0000;
}
#u72738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72739 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u72740 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72741 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72742 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u72743 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:290px;
  height:30px;
  display:flex;
}
#u72743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u72744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u72745 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:400px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u72746 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u72747 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:60px;
  width:200px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u72748 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u72749 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:60px;
  width:100px;
  height:44px;
  display:flex;
  color:#FF0000;
}
#u72749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:44px;
}
#u72750 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:60px;
  width:290px;
  height:44px;
  display:flex;
}
#u72750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u72751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:100px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:64px;
}
#u72752 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:104px;
  width:400px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u72753 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:104px;
  width:100px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u72754 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:104px;
  width:200px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u72755 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:104px;
  width:100px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u72756 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:104px;
  width:100px;
  height:64px;
  display:flex;
  color:#FF0000;
}
#u72756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:64px;
}
#u72757 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:104px;
  width:290px;
  height:64px;
  display:flex;
}
#u72757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u72758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:100px;
  height:79px;
  display:flex;
  color:#FF0000;
}
#u72758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:79px;
}
#u72759 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:168px;
  width:400px;
  height:79px;
  display:flex;
  color:#FF0000;
}
#u72759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u72760 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:168px;
  width:100px;
  height:79px;
  display:flex;
  color:#FF0000;
}
#u72760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:79px;
}
#u72761 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:168px;
  width:200px;
  height:79px;
  display:flex;
  font-size:14px;
  color:#FF0000;
}
#u72761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u72762 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:168px;
  width:100px;
  height:79px;
  display:flex;
  color:#FF0000;
}
#u72762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u72763 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:168px;
  width:100px;
  height:79px;
  display:flex;
  color:#FF0000;
}
#u72763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:79px;
}
#u72764 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:168px;
  width:290px;
  height:79px;
  display:flex;
  color:#FF0000;
  text-align:left;
}
#u72764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72765 {
  border-width:0px;
  position:absolute;
  left:2113px;
  top:522px;
  width:1200px;
  height:90px;
}
#u72766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u72767 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u72767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72768 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u72768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72769 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u72769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72770 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u72770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u72771 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u72771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u72773 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72774 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72775 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72776 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u72777 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u72777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u72779 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72780 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72781 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u72782 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u72782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u72783 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u72783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72784 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:336px;
  width:181px;
  height:31px;
  display:flex;
}
#u72784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u72785 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:343px;
  width:18px;
  height:18px;
  display:flex;
}
#u72785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u72786 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:344px;
  width:57px;
  height:20px;
  display:flex;
  color:#666666;
}
#u72786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u72787 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:528px;
  width:201px;
  height:41px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u72787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u72788 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:542px;
  width:53px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u72788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72789 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:513px;
  width:232px;
  height:69px;
  display:flex;
}
#u72789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u72790 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:541px;
  width:125px;
  height:20px;
  display:flex;
  color:#FF0000;
}
#u72790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72791 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:646px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u72791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u72792 {
  border-width:0px;
  position:absolute;
  left:2113px;
  top:685px;
  width:491px;
  height:72px;
  display:flex;
  color:#FF0000;
}
#u72792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
