body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u90384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u90385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:611px;
  width:190px;
  height:27px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u90385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:522px;
}
#u90386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:648px;
  width:808px;
  height:522px;
  display:flex;
}
#u90386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u90387 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1152px;
  width:508px;
  height:86px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u90387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:558px;
}
#u90389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:860px;
  height:558px;
  display:flex;
}
#u90389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:27px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u90391 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:441px;
  width:142px;
  height:24px;
  display:flex;
  color:#FF0000;
}
#u90391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u90392 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1072px;
  width:142px;
  height:24px;
  display:flex;
  color:#FF0000;
}
#u90392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
