body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1886px;
  height:888px;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1886px;
  height:888px;
  display:flex;
}
#u13485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1631px;
  height:812px;
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:76px;
  width:1631px;
  height:812px;
  display:flex;
}
#u13486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:16px;
  width:132px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u13487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:207px;
  width:113px;
  height:20px;
  display:flex;
}
#u13488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:265px;
  width:434px;
  height:316px;
  display:flex;
}
#u13489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13490 label {
  left:0px;
  width:100%;
}
#u13490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:598px;
  width:123px;
  height:18px;
  display:flex;
}
#u13490 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13490_img.selected {
}
#u13490.selected {
}
#u13490_img.disabled {
}
#u13490.disabled {
}
#u13490_img.selectedDisabled {
}
#u13490.selectedDisabled {
}
#u13490_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:107px;
  word-wrap:break-word;
  text-transform:none;
}
#u13490_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:2px;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:173px;
  width:1631px;
  height:1px;
  display:flex;
}
#u13491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:146px;
  width:61px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u13492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13492_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:153px;
  width:49px;
  height:1px;
  display:flex;
}
#u13493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:148px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u13494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13494_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:148px;
  width:113px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u13495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u13496 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:153px;
  width:49px;
  height:1px;
  display:flex;
}
#u13496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13497 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:122px;
  width:9px;
  height:16px;
  display:flex;
}
#u13497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13498 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:124px;
  width:9px;
  height:16px;
  display:flex;
}
#u13498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13499 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:124px;
  width:9px;
  height:16px;
  display:flex;
}
#u13499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13500 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:148px;
  width:73px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u13500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u13501 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:155px;
  width:49px;
  height:1px;
  display:flex;
}
#u13501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13502 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:124px;
  width:9px;
  height:16px;
  display:flex;
}
#u13502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13503 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:672px;
  width:140px;
  height:40px;
  display:flex;
}
#u13503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:685px;
}
#u13504 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:125px;
  width:1409px;
  height:685px;
  display:flex;
}
#u13504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u13505 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:101px;
  width:1409px;
  height:41px;
  display:flex;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u13505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u13506 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:-57px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u13506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13507 {
  border-width:0px;
  position:absolute;
  left:1953px;
  top:16px;
  width:323px;
  height:20px;
  display:flex;
}
#u13507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u13508 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:-16px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u13508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13509 {
  border-width:0px;
  position:absolute;
  left:1953px;
  top:58px;
  width:155px;
  height:20px;
  display:flex;
}
#u13509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13510 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:152px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13511 {
  border-width:0px;
  position:absolute;
  left:1928px;
  top:212px;
  width:222px;
  height:72px;
  display:flex;
}
#u13511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
