body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:196px;
}
#u26034 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:338px;
  width:910px;
  height:196px;
  display:flex;
}
#u26034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:210px;
}
#u26035 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:766px;
  width:820px;
  height:210px;
  display:flex;
}
#u26035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1685px;
  height:229px;
}
#u26036 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:39px;
  width:1685px;
  height:229px;
  display:flex;
}
#u26036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u26037 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:544px;
  width:451px;
  height:78px;
  display:flex;
  color:#FF0000;
}
#u26037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1810px;
  height:841px;
}
#u26038 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:381px;
  width:1810px;
  height:841px;
  display:flex;
}
#u26038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u26039 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:737px;
  width:180px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FF0000;
}
#u26039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26040 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:406px;
  width:371px;
  height:38px;
  display:flex;
}
#u26040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26041 {
  border-width:0px;
  position:absolute;
  left:2350px;
  top:737px;
  width:304px;
  height:38px;
  display:flex;
}
#u26041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
