body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u83591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:609px;
}
#u83591 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:18px;
  width:1297px;
  height:609px;
  display:flex;
}
#u83591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:388px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83592 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:186px;
  width:187px;
  height:388px;
  display:flex;
}
#u83592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u83593 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:223px;
  width:101px;
  height:43px;
  display:flex;
  color:#FF0000;
}
#u83593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u83594 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:141px;
  width:62px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u83594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83595 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:186px;
  width:18px;
  height:18px;
  display:flex;
}
#u83595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83596 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:223px;
  width:18px;
  height:18px;
  display:flex;
}
#u83596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83597 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:260px;
  width:18px;
  height:18px;
  display:flex;
}
#u83597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83598 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:297px;
  width:18px;
  height:18px;
  display:flex;
}
#u83598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83599 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:334px;
  width:18px;
  height:18px;
  display:flex;
}
#u83599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83600 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:371px;
  width:18px;
  height:18px;
  display:flex;
}
#u83600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83601 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:411px;
  width:18px;
  height:18px;
  display:flex;
}
#u83601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83602 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:447px;
  width:18px;
  height:18px;
  display:flex;
}
#u83602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83603 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:483px;
  width:18px;
  height:18px;
  display:flex;
}
#u83603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83604 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:522px;
  width:18px;
  height:18px;
  display:flex;
}
#u83604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83605 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:556px;
  width:18px;
  height:18px;
  display:flex;
}
#u83605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u83606 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:141px;
  width:422px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u83606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:95px;
}
#u83607 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:18px;
  width:155px;
  height:95px;
  display:flex;
}
#u83607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83608 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:141px;
  width:0px;
  height:0px;
}
#u83608_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-81px;
  width:12px;
  height:81px;
}
#u83608_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-81px;
  width:96px;
  height:12px;
}
#u83608_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-86px;
  width:22px;
  height:22px;
}
#u83608_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-83px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
}
#u83609 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:27px;
  width:103px;
  height:33px;
  display:flex;
}
#u83609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1515px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u83610 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:644px;
  width:1515px;
  height:152px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u83610 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u83611 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:806px;
  width:852px;
  height:463px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u83611 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83612 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:878px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u83612_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:121px;
}
#u83612_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:101px;
  width:22px;
  height:22px;
}
#u83612_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83613 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:996px;
  width:181px;
  height:60px;
  display:flex;
}
#u83613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83614 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1198px;
  width:181px;
  height:60px;
  display:flex;
}
#u83614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83615 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:818px;
  width:190px;
  height:60px;
  display:flex;
}
#u83615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83616 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1058px;
  width:0px;
  height:0px;
}
#u83616_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:143px;
}
#u83616_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:123px;
  width:22px;
  height:22px;
}
#u83616_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83617 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:1198px;
  width:0px;
  height:0px;
}
#u83617_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-141px;
  width:12px;
  height:147px;
}
#u83617_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-149px;
  width:22px;
  height:22px;
}
#u83617_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u83618 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:818px;
  width:437px;
  height:440px;
  display:flex;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u83618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83619 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:996px;
  width:114px;
  height:60px;
  display:flex;
}
#u83619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83620 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1026px;
  width:0px;
  height:0px;
}
#u83620_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:63px;
  height:12px;
}
#u83620_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:22px;
  height:22px;
}
#u83620_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u83621 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:1286px;
  width:1009px;
  height:31px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u83621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
