body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1898px;
  height:832px;
}
#u73095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1898px;
  height:832px;
  display:flex;
}
#u73095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:1616px;
}
#u73096 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:124px;
  width:1409px;
  height:1616px;
  display:flex;
}
#u73096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u73097 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:125px;
  width:1409px;
  height:41px;
  display:flex;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u73097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u73098 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:40px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u73098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73099 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:40px;
  width:197px;
  height:20px;
  display:flex;
}
#u73099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u73100 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:81px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u73100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73101 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:82px;
  width:183px;
  height:20px;
  display:flex;
}
#u73101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73102 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:220px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73103 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:263px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73104 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:295px;
  width:800px;
  height:90px;
}
#u73105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73106 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u73106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73107 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u73107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73109 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
}
#u73109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73110 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u73110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73112 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:400px;
  height:30px;
  display:flex;
}
#u73112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73113 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u73113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73114 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:408px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73115 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:554px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73116 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:1781px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73117 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:1836px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73118 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:1882px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73119 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:449px;
  width:1200px;
  height:60px;
}
#u73120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73121 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u73121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73122 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73123 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u73123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73124 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u73124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73125 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u73125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73127 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u73127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73128 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73129 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u73129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73130 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u73130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73131 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u73131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73132 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:187px;
  width:351px;
  height:20px;
  display:flex;
}
#u73132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:875px;
}
#u73133 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:633px;
  width:949px;
  height:875px;
  display:flex;
}
#u73133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u73134 {
  border-width:0px;
  position:absolute;
  left:2935px;
  top:622px;
  width:375px;
  height:667px;
  display:flex;
}
#u73134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u73135 {
  border-width:0px;
  position:absolute;
  left:2896px;
  top:715px;
  width:58px;
  height:26px;
  display:flex;
}
#u73135 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u73135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u73136 {
  border-width:0px;
  position:absolute;
  left:2896px;
  top:751px;
  width:58px;
  height:26px;
  display:flex;
}
#u73136 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u73136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u73137 {
  border-width:0px;
  position:absolute;
  left:2896px;
  top:793px;
  width:58px;
  height:26px;
  display:flex;
}
#u73137 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u73137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u73138 {
  border-width:0px;
  position:absolute;
  left:2896px;
  top:844px;
  width:58px;
  height:26px;
  display:flex;
}
#u73138 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u73138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73139 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:1540px;
  width:1320px;
  height:90px;
}
#u73140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u73140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u73140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73141 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u73141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73142 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73143 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u73143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73144 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73145 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73146 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u73146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u73147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
  display:flex;
}
#u73147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73148 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
}
#u73148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73149 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73150 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u73150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73151 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73152 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73153 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u73153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u73154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  display:flex;
}
#u73154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u73155 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:60px;
  width:400px;
  height:30px;
  display:flex;
}
#u73155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73156 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73157 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u73157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73158 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73159 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73160 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u73160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73161 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:1640px;
  width:1200px;
  height:90px;
}
#u73162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73163 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u73163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73164 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u73164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73165 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u73165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73166 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u73166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73167 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u73167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73169 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u73169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73170 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u73170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73171 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u73171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73172 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
  text-align:left;
}
#u73172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73173 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u73173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u73175 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u73175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73176 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u73176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73177 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
}
#u73177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u73178 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
  text-align:left;
}
#u73178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u73179 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u73179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
