body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u71037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:881px;
}
#u71037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:881px;
  display:flex;
}
#u71037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1633px;
  height:809px;
}
#u71038 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:72px;
  width:1633px;
  height:809px;
  display:flex;
}
#u71038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71039 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:231px;
  width:600px;
  height:103px;
}
#u71040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u71040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u71040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u71041 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u71041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u71042 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u71042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u71043 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u71043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u71044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u71045 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u71046 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u71047 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u71048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  height:37px;
  display:flex;
  font-size:14px;
}
#u71048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u71049 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:66px;
  width:150px;
  height:37px;
  display:flex;
  font-size:14px;
}
#u71049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u71050 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:66px;
  width:150px;
  height:37px;
  display:flex;
  font-size:14px;
}
#u71050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u71051 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:66px;
  width:150px;
  height:37px;
  display:flex;
  font-size:14px;
}
#u71051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u71052 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:12px;
  width:138px;
  height:45px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u71052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71053 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:165px;
  width:72px;
  height:30px;
  display:flex;
}
#u71053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:48px;
}
#u71054 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:697px;
  width:274px;
  height:48px;
  display:flex;
}
#u71054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:942px;
}
#u71055 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:124px;
  width:1409px;
  height:942px;
  display:flex;
}
#u71055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u71056 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:125px;
  width:1409px;
  height:41px;
  display:flex;
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u71056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u71057 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:40px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u71057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71058 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:40px;
  width:197px;
  height:20px;
  display:flex;
}
#u71058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u71059 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:81px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u71059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71060 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:82px;
  width:183px;
  height:20px;
  display:flex;
}
#u71060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71060_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71061 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:193px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71061 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71062 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:247px;
  width:1050px;
  height:60px;
}
#u71063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u71064 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:350px;
  height:30px;
  display:flex;
}
#u71064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71065 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71066 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71067 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71068 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71069 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u71069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u71071 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:350px;
  height:30px;
  display:flex;
}
#u71071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71072 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71073 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71074 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71075 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71076 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u71076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71077 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:357px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71078 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:389px;
  width:800px;
  height:120px;
}
#u71079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u71080 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u71080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71081 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u71081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u71083 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
}
#u71083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71084 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u71084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u71086 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:400px;
  height:30px;
  display:flex;
}
#u71086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71087 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u71087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u71088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u71089 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:400px;
  height:30px;
  display:flex;
}
#u71089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71090 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:90px;
  width:300px;
  height:30px;
  display:flex;
}
#u71090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71091 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:626px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71092 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:912px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71093 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:969px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71094 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:1024px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71095 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:1070px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u71095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71096 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:667px;
  width:1200px;
  height:210px;
}
#u71097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71098 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u71098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71099 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u71099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71100 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u71100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71101 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
}
#u71101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71102 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u71102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71104 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u71104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71105 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u71105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71106 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u71106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71107 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u71107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71108 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u71108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u71109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u71110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71111 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u71111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71112 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
}
#u71112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71113 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
}
#u71113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71114 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u71114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u71115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71116 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:300px;
  height:30px;
  display:flex;
}
#u71116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71117 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u71117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71118 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:90px;
  width:250px;
  height:30px;
  display:flex;
}
#u71118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71119 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:90px;
  width:250px;
  height:30px;
  display:flex;
}
#u71119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71120 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:90px;
  width:200px;
  height:30px;
  display:flex;
}
#u71120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u71121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71122 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:300px;
  height:30px;
  display:flex;
}
#u71122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71123 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u71123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71124 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:120px;
  width:250px;
  height:30px;
  display:flex;
}
#u71124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71125 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:120px;
  width:250px;
  height:30px;
  display:flex;
}
#u71125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71126 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:120px;
  width:200px;
  height:30px;
  display:flex;
}
#u71126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u71127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71128 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:300px;
  height:30px;
  display:flex;
}
#u71128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71129 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u71129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71130 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:150px;
  width:250px;
  height:30px;
  display:flex;
}
#u71130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71131 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:250px;
  height:30px;
  display:flex;
}
#u71131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71132 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:150px;
  width:200px;
  height:30px;
  display:flex;
}
#u71132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u71133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u71134 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:180px;
  width:300px;
  height:30px;
  display:flex;
}
#u71134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71135 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u71135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71136 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:180px;
  width:250px;
  height:30px;
  display:flex;
}
#u71136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u71137 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:180px;
  width:250px;
  height:30px;
  display:flex;
}
#u71137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71138 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:180px;
  width:200px;
  height:30px;
  display:flex;
}
#u71138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71139 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:557px;
  width:457px;
  height:54px;
  display:flex;
}
#u71139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71140 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:98px;
  width:57px;
  height:20px;
  display:flex;
}
#u71140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u71141_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u71141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71141 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:90px;
  width:308px;
  height:33px;
  display:flex;
}
#u71141 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71141_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71141.disabled {
}
.u71141_input_option {
}
#u71142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71142 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:98px;
  width:66px;
  height:25px;
  display:flex;
}
#u71142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71143 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:98px;
  width:66px;
  height:25px;
  display:flex;
}
#u71143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
