body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:868px;
}
#u76058 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:1634px;
  height:868px;
  display:flex;
}
#u76058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u76059 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:593px;
  width:58px;
  height:33px;
  display:flex;
  color:#FF0000;
}
#u76059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76060 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:626px;
  width:673px;
  height:174px;
}
#u76061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u76061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u76061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u76062 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:224px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u76062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u76063 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:225px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u76063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76065 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:30px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u76066 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:30px;
  width:225px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76068 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:66px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u76069 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:66px;
  width:225px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76071 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:102px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u76072 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:102px;
  width:225px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76074 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:138px;
  width:224px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u76075 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:138px;
  width:225px;
  height:36px;
  display:flex;
  color:#FF0000;
}
#u76075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u76076 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:827px;
  width:608px;
  height:33px;
  display:flex;
  color:#FF0000;
  text-align:left;
}
#u76076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
