body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67563 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:138px;
  width:1184px;
  height:221px;
  display:flex;
}
#u67563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1883px;
  height:824px;
}
#u67564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1883px;
  height:824px;
  display:flex;
}
#u67564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u67565 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:85px;
  width:144px;
  height:30px;
  display:flex;
  font-size:18px;
}
#u67565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1623px;
  height:687px;
}
#u67566 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:137px;
  width:1623px;
  height:687px;
  display:flex;
}
#u67566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u67567 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:313px;
  width:61px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u67567 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u67567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u67568 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:222px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u67568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u67569 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:238px;
  width:125px;
  height:26px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u67569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 4px 40px;
  box-sizing:border-box;
  width:100%;
}
#u67569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:28px;
}
#u67570 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:264px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:28px;
}
#u67570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 4px 40px;
  box-sizing:border-box;
  width:100%;
}
#u67570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u67571 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:238px;
  width:125px;
  height:26px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u67571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 4px 40px;
  box-sizing:border-box;
  width:100%;
}
#u67571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:28px;
}
#u67572 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:264px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:28px;
}
#u67572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 4px 40px;
  box-sizing:border-box;
  width:100%;
}
#u67572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:2px;
}
#u67573 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:567px;
  width:1181px;
  height:1px;
  display:flex;
}
#u67573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u67574 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:522px;
  width:89px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u67574 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u67574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67575 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:160px;
  width:98px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67576 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:160px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67577 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:220px;
  width:229px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67578 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:254px;
  width:85px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67579 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:254px;
  width:102px;
  height:30px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67580 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:190px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67581 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:190px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67582 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:250px;
  width:85px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67583 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:250px;
  width:94px;
  height:30px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67584 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:160px;
  width:85px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67585 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:160px;
  width:49px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u67585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67586 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:190px;
  width:229px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67587 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:220px;
  width:229px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67588 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:284px;
  width:155px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u67588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67589 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:284px;
  width:99px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u67589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67590 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:578px;
  width:630px;
  height:190px;
}
#u67591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u67591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67592 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u67592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67593 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u67593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67594 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u67594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67595 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u67595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u67596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:100px;
  display:flex;
}
#u67596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u67597 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:120px;
  height:100px;
  display:flex;
}
#u67597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u67598 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:30px;
  width:120px;
  height:100px;
  display:flex;
}
#u67598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u67599 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:30px;
  width:120px;
  height:100px;
  display:flex;
}
#u67599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u67600 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:30px;
  width:150px;
  height:100px;
  display:flex;
  text-align:left;
}
#u67600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67602 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:130px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67603 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:130px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67604 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:130px;
  width:120px;
  height:30px;
  display:flex;
}
#u67604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67605 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:130px;
  width:150px;
  height:30px;
  display:flex;
}
#u67605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67607 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67608 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:160px;
  width:120px;
  height:30px;
  display:flex;
  color:#000000;
}
#u67608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u67609 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:160px;
  width:120px;
  height:30px;
  display:flex;
}
#u67609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67610 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:160px;
  width:150px;
  height:30px;
  display:flex;
}
#u67610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67611 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:386px;
  width:1139px;
  height:90px;
}
#u67612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
}
#u67612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
  display:flex;
}
#u67612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u67613 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:80px;
  height:60px;
  display:flex;
}
#u67613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u67614 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:80px;
  height:60px;
  display:flex;
}
#u67614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:60px;
}
#u67615 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:299px;
  height:60px;
  display:flex;
}
#u67615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u67616 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:0px;
  width:100px;
  height:60px;
  display:flex;
}
#u67616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u67617 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:0px;
  width:100px;
  height:60px;
  display:flex;
}
#u67617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u67618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:480px;
  height:30px;
  display:flex;
}
#u67618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67619 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:80px;
  height:30px;
  display:flex;
}
#u67619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67620 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:60px;
  width:80px;
  height:30px;
  display:flex;
}
#u67620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u67621 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:60px;
  width:299px;
  height:30px;
  display:flex;
}
#u67621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67622 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  color:#169BD5;
}
#u67622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67623 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  color:#169BD5;
}
#u67623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67624 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:386px;
  width:160px;
  height:60px;
}
#u67625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  display:flex;
}
#u67625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
  display:flex;
}
#u67626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67627 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:416px;
  width:160px;
  height:60px;
}
#u67628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67629 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67631 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67632 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:386px;
  width:160px;
  height:60px;
}
#u67633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  display:flex;
}
#u67633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
  display:flex;
}
#u67634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67635 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:416px;
  width:160px;
  height:60px;
}
#u67636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67637 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67639 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67640 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:386px;
  width:400px;
  height:60px;
}
#u67641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u67641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u67641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u67642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
}
#u67642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67643 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:416px;
  width:400px;
  height:60px;
}
#u67644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u67644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67645 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u67645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67646 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u67646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67647 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u67647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u67648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67649 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u67649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67650 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u67650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u67651 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u67651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67652 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:386px;
  width:160px;
  height:60px;
}
#u67653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  display:flex;
}
#u67653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u67654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
  display:flex;
}
#u67654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67655 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:416px;
  width:160px;
  height:60px;
}
#u67656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67657 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u67657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67659 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u67659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
