body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1883px;
  height:824px;
}
#u63980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1883px;
  height:824px;
  display:flex;
}
#u63980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u63981 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:85px;
  width:139px;
  height:31px;
  display:flex;
  font-size:18px;
}
#u63981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1623px;
  height:681px;
}
#u63982 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:143px;
  width:1623px;
  height:681px;
  display:flex;
}
#u63982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:49px;
}
#u63983 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:708px;
  width:412px;
  height:49px;
  display:flex;
}
#u63983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63984 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:213px;
  width:66px;
  height:25px;
  display:flex;
}
#u63984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63985 {
  border-width:0px;
  position:absolute;
  left:1625px;
  top:213px;
  width:66px;
  height:25px;
  display:flex;
}
#u63985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
}
#u63986 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:227px;
  width:320px;
  height:29px;
  display:flex;
}
#u63986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63987 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:234px;
  width:57px;
  height:20px;
  display:flex;
}
#u63987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u63988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u63988 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:226px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u63988 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u63989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u63989 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:226px;
  width:240px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u63989 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u63989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63990 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:271px;
  width:400px;
  height:194px;
}
#u63991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u63991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  display:flex;
}
#u63991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u63992 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  display:flex;
}
#u63992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u63993 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
  display:flex;
}
#u63993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u63994 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
  display:flex;
}
#u63994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u63995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:38px;
  display:flex;
}
#u63995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u63996 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:38px;
  display:flex;
}
#u63996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u63997 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:38px;
  display:flex;
}
#u63997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u63998 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:38px;
  display:flex;
}
#u63998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u63999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:100px;
  height:30px;
  display:flex;
}
#u63999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64000 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:74px;
  width:100px;
  height:30px;
  display:flex;
}
#u64000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64001 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:74px;
  width:100px;
  height:30px;
  display:flex;
}
#u64001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64002 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:74px;
  width:100px;
  height:30px;
  display:flex;
}
#u64002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:100px;
  height:30px;
  display:flex;
}
#u64003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64004 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:104px;
  width:100px;
  height:30px;
  display:flex;
}
#u64004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64005 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:104px;
  width:100px;
  height:30px;
  display:flex;
}
#u64005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64006 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:104px;
  width:100px;
  height:30px;
  display:flex;
}
#u64006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:100px;
  height:30px;
  display:flex;
}
#u64007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64008 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:134px;
  width:100px;
  height:30px;
  display:flex;
}
#u64008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64009 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:134px;
  width:100px;
  height:30px;
  display:flex;
}
#u64009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64010 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:134px;
  width:100px;
  height:30px;
  display:flex;
}
#u64010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:100px;
  height:30px;
  display:flex;
}
#u64011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64012 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:164px;
  width:100px;
  height:30px;
  display:flex;
}
#u64012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64013 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:164px;
  width:100px;
  height:30px;
  display:flex;
}
#u64013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64014 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:164px;
  width:100px;
  height:30px;
  display:flex;
}
#u64014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u64015 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:201px;
  width:29px;
  height:35px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u64015 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64015_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64016 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:233px;
  width:57px;
  height:20px;
  display:flex;
}
#u64016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64016_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u64017_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u64017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64017 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:224px;
  width:245px;
  height:33px;
  display:flex;
}
#u64017 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64017_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64017.disabled {
}
.u64017_input_option {
}
#u64018 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:580px;
  width:500px;
  height:160px;
}
#u64019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u64019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u64020 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u64020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u64021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u64022 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
  text-align:left;
}
#u64022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u64023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:100px;
  display:flex;
}
#u64023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
}
#u64024 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:400px;
  height:100px;
  display:flex;
  text-align:left;
}
#u64024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64026 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:148px;
  width:117px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64026 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u64026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u64028 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:148px;
  width:89px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u64028 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u64028_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64030 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:148px;
  width:89px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64030 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u64030_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64032 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:148px;
  width:117px;
  height:46px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u64032 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u64032_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
