body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u112346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:1095px;
}
#u112346 {
  border-width:0px;
  position:absolute;
  left:1989px;
  top:9px;
  width:1409px;
  height:1095px;
  display:flex;
}
#u112346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u112347 {
  border-width:0px;
  position:absolute;
  left:1989px;
  top:107px;
  width:1409px;
  height:41px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u112347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u112348 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:22px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u112348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112349 {
  border-width:0px;
  position:absolute;
  left:2038px;
  top:22px;
  width:323px;
  height:20px;
  display:flex;
}
#u112349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112349_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u112350 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:63px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u112350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112351 {
  border-width:0px;
  position:absolute;
  left:2038px;
  top:64px;
  width:155px;
  height:20px;
  display:flex;
}
#u112351 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112351_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112352 {
  border-width:0px;
  position:absolute;
  left:1990px;
  top:231px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112353 {
  border-width:0px;
  position:absolute;
  left:1992px;
  top:436px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112354 {
  border-width:0px;
  position:absolute;
  left:2113px;
  top:305px;
  width:850px;
  height:90px;
}
#u112355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u112355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112356 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:350px;
  height:30px;
  display:flex;
}
#u112356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112357 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u112357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112358 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u112358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u112359 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u112359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112361 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:350px;
  height:30px;
  display:flex;
}
#u112361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112362 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112363 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u112363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u112364 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u112364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u112365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112366 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:350px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112367 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112368 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u112368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u112369 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u112369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u112370 {
  border-width:0px;
  position:absolute;
  left:2038px;
  top:273px;
  width:49px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u112370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u112371 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:495px;
  width:49px;
  height:18px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u112371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112372 {
  border-width:0px;
  position:absolute;
  left:2111px;
  top:528px;
  width:1000px;
  height:220px;
}
#u112373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u112373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112374 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:350px;
  height:30px;
  display:flex;
}
#u112374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112375 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112376 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u112376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u112377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112378 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:350px;
  height:30px;
  display:flex;
}
#u112378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112379 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
}
#u112379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112380 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u112380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u112381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112382 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:350px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
#u112382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112383 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:60px;
  width:250px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
#u112383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112384 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u112384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u112385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112386 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:350px;
  height:30px;
  display:flex;
}
#u112386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112387 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:90px;
  width:250px;
  height:30px;
  display:flex;
}
#u112387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112388 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:90px;
  width:300px;
  height:30px;
  display:flex;
}
#u112388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u112389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u112389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u112390 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:350px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
}
#u112390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u112391 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:120px;
  width:250px;
  height:40px;
  display:flex;
}
#u112391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u112392 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:120px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u112393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112394 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:160px;
  width:350px;
  height:30px;
  display:flex;
}
#u112394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112395 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:160px;
  width:250px;
  height:30px;
  display:flex;
}
#u112395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112396 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:160px;
  width:300px;
  height:30px;
  display:flex;
}
#u112396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u112397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:100px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
#u112397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u112398 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:190px;
  width:350px;
  height:30px;
  display:flex;
}
#u112398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u112399 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:190px;
  width:250px;
  height:30px;
  display:flex;
}
#u112399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u112400 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:190px;
  width:300px;
  height:30px;
  display:flex;
}
#u112400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:936px;
}
#u112401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:936px;
  display:flex;
}
#u112401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112402 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:9px;
  width:274px;
  height:33px;
  display:flex;
}
#u112402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1695px;
  height:872px;
}
#u112403 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:64px;
  width:1695px;
  height:872px;
  display:flex;
}
#u112403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:2px;
}
#u112404 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:129px;
  width:1127px;
  height:1px;
  display:flex;
}
#u112404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112405 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:96px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u112407 {
  border-width:0px;
  position:absolute;
  left:2179px;
  top:1054px;
  width:300px;
  height:108px;
  display:flex;
  color:#1E1E1E;
}
#u112407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u112408 {
  border-width:0px;
  position:absolute;
  left:2064px;
  top:1026px;
  width:262px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u112408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112409 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:211px;
  width:869px;
  height:180px;
}
#u112410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
  display:flex;
}
#u112410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112411 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:174px;
  height:30px;
  display:flex;
}
#u112411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112412 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:0px;
  width:174px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112413 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:0px;
  width:174px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112414 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:0px;
  width:173px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u112414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:30px;
  display:flex;
}
#u112415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112416 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:174px;
  height:30px;
  display:flex;
}
#u112416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112417 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:30px;
  width:174px;
  height:30px;
  display:flex;
}
#u112417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112418 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:30px;
  width:174px;
  height:30px;
  display:flex;
}
#u112418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112419 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:30px;
  width:173px;
  height:30px;
  display:flex;
}
#u112419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:174px;
  height:30px;
  display:flex;
}
#u112420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112421 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:60px;
  width:174px;
  height:30px;
  display:flex;
}
#u112421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112422 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:60px;
  width:174px;
  height:30px;
  display:flex;
}
#u112422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112423 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:60px;
  width:174px;
  height:30px;
  display:flex;
}
#u112423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112424 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:60px;
  width:173px;
  height:30px;
  display:flex;
}
#u112424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:174px;
  height:30px;
  display:flex;
}
#u112425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112426 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:90px;
  width:174px;
  height:30px;
  display:flex;
}
#u112426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112427 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:90px;
  width:174px;
  height:30px;
  display:flex;
}
#u112427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112428 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:90px;
  width:174px;
  height:30px;
  display:flex;
}
#u112428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112429 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:90px;
  width:173px;
  height:30px;
  display:flex;
}
#u112429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:174px;
  height:30px;
  display:flex;
}
#u112430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112431 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:120px;
  width:174px;
  height:30px;
  display:flex;
}
#u112431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112432 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:120px;
  width:174px;
  height:30px;
  display:flex;
}
#u112432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112433 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:120px;
  width:174px;
  height:30px;
  display:flex;
}
#u112433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112434 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:120px;
  width:173px;
  height:30px;
  display:flex;
}
#u112434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:174px;
  height:30px;
  display:flex;
}
#u112435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112436 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:150px;
  width:174px;
  height:30px;
  display:flex;
}
#u112436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112437 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:150px;
  width:174px;
  height:30px;
  display:flex;
}
#u112437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u112438 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:150px;
  width:174px;
  height:30px;
  display:flex;
}
#u112438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112439 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:150px;
  width:173px;
  height:30px;
  display:flex;
}
#u112439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u112440 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:149px;
  width:43px;
  height:35px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u112440 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u112441 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:150px;
  width:308px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u112441 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u112441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u112442 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:150px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u112442 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u112443 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:151px;
  width:308px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u112443 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u112443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112444 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:153px;
  width:64px;
  height:32px;
  display:flex;
}
#u112444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112445 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:154px;
  width:62px;
  height:31px;
  display:flex;
}
#u112445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
}
#u112446 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:659px;
  width:316px;
  height:45px;
  display:flex;
}
#u112446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112447 {
  border-width:0px;
  position:absolute;
  left:1993px;
  top:830px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112448 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:892px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112449 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:964px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112450 {
  border-width:0px;
  position:absolute;
  left:1993px;
  top:1183px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112451 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:1229px;
  width:1392px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
