
#u16389.selected {
}
#u16389_img.disabled {
}
#u16389.disabled {
}
#u16389_img.selectedDisabled {
}
#u16389.selectedDisabled {
}
#u16389_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:82px;
  word-wrap:break-word;
  text-transform:none;
}
#u16389_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u16390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u16390 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:822px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u16390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16391 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:823px;
  width:85px;
  height:20px;
  display:flex;
  color:#0000FF;
}
#u16391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16392 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:864px;
  width:367px;
  height:100px;
}
#u16393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u16393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  display:flex;
  color:#1E1E1E;
}
#u16393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u16394 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
  color:#1E1E1E;
}
#u16394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u16395 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:92px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u16395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u16397 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:40px;
  width:150px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u16398 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:40px;
  width:92px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:125px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u16400 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:70px;
  width:150px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u16401 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:70px;
  width:92px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u16401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u16402 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:806px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u16402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u16403 {
  border-width:0px;
  position:absolute;
  left:2058px;
  top:5597px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u16403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16404 {
  border-width:0px;
  position:absolute;
  left:2091px;
  top:5595px;
  width:163px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u16405 {
  border-width:0px;
  position:absolute;
  left:2058px;
  top:1419px;
  width:182px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u16405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16406 {
  border-width:0px;
  position:absolute;
  left:2062px;
  top:1455px;
  width:1150px;
  height:130px;
}
#u16407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u16408 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:350px;
  height:30px;
  display:flex;
}
#u16408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16409 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16410 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16411 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16412 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u16413 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u16413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
#u16414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u16415 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:350px;
  height:100px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u16415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16416 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:100px;
  display:flex;
  color:#1E1E1E;
}
#u16416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16417 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:100px;
  display:flex;
  color:#1E1E1E;
}
#u16417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16418 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:100px;
  display:flex;
  color:#1E1E1E;
}
#u16418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16419 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:100px;
  display:flex;
  color:#1E1E1E;
}
#u16419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u16420 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:30px;
  width:300px;
  height:100px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u16420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16421 {
  border-width:0px;
  position:absolute;
  left:2073px;
  top:5740px;
  width:685px;
  height:408px;
  display:flex;
}
#u16421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16422 {
  border-width:0px;
  position:absolute;
  left:2115px;
  top:5824px;
  width:600px;
  height:90px;
}
#u16423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u16423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16424 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u16424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16425 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u16425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u16426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16427 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u16427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16428 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u16428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u16429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16430 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u16430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16431 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u16431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:62px;
}
#u16432 {
  border-width:0px;
  position:absolute;
  left:2436px;
  top:6009px;
  width:279px;
  height:62px;
  display:flex;
}
#u16432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:22px;
}
#u16433 {
  border-width:0px;
  position:absolute;
  left:2073px;
  top:5740px;
  width:685px;
  height:54px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:22px;
}
#u16433 .text {
  position:absolute;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
  width:100%;
}
#u16433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16434 {
  border-width:0px;
  position:absolute;
  left:2073px;
  top:5636px;
  width:591px;
  height:100px;
  display:flex;
}
#u16434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16435 label {
  left:0px;
  width:100%;
}
#u16435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u16435 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:5832px;
  width:100px;
  height:18px;
  display:flex;
}
#u16435 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u16435_img.selected {
}
#u16435.selected {
}
#u16435_img.disabled {
}
#u16435.disabled {
}
#u16435_img.selectedDisabled {
}
#u16435.selectedDisabled {
}
#u16435_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u16435_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u16436 label {
  left:0px;
  width:100%;
}
#u16436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16436 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:5861px;
  width:100px;
  height:16px;
  display:flex;
}
#u16436 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u16436_img.selected {
}
#u16436.selected {
}
#u16436_img.disabled {
}
#u16436.disabled {
}
#u16436_img.selectedDisabled {
}
#u16436.selectedDisabled {
}
#u16436_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16436_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u16437 label {
  left:0px;
  width:100%;
}
#u16437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16437 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:5891px;
  width:100px;
  height:16px;
  display:flex;
}
#u16437 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u16437_img.selected {
}
#u16437.selected {
}
#u16437_img.disabled {
}
#u16437.disabled {
}
#u16437_img.selectedDisabled {
}
#u16437.selectedDisabled {
}
#u16437_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16437_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u16438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u16438 {
  border-width:0px;
  position:absolute;
  left:2115px;
  top:6089px;
  width:600px;
  height:1px;
  display:flex;
}
#u16438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16439 {
  border-width:0px;
  position:absolute;
  left:2661px;
  top:6100px;
  width:61px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16439 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u16439_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u16440 {
  border-width:0px;
  position:absolute;
  left:2588px;
  top:6100px;
  width:61px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u16440 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u16440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u16441 {
  border-width:0px;
  position:absolute;
  left:2630px;
  top:5759px;
  width:85px;
  height:20px;
  display:flex;
  color:#169BD5;
}
#u16441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u16442 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1050px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u16442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u16443 {
  border-width:0px;
  position:absolute;
  left:2025px;
  top:4142px;
  width:23px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u16443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16444 label {
  left:0px;
  width:100%;
}
#u16444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u16444 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:544px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16444 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u16444_img.selected {
}
#u16444.selected {
}
#u16444_img.disabled {
}
#u16444.disabled {
}
#u16444_img.selectedDisabled {
}
#u16444.selectedDisabled {
}
#u16444_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u16444_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u16445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u16445 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:413px;
  width:66px;
  height:20px;
  display:flex;
  color:#FF0000;
  text-align:right;
}
#u16445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u16446 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:405px;
  width:300px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u16446 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u16446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u16447 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:413px;
  width:66px;
  height:20px;
  display:flex;
  color:#FF0000;
  text-align:right;
}
#u16447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u16448 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:405px;
  width:300px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u16448 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u16448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16449 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:413px;
  width:13px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u16449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16449_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16450 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:413px;
  width:13px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u16450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16450_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16451 {
  border-width:0px;
  position:absolute;
  left:2709px;
  top:8458px;
  width:455px;
  height:232px;
  display:flex;
}
#u16451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16452 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1052px;
  width:307px;
  height:20px;
  display:flex;
  color:#FF0000;
}
#u16452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
