.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.table_cell {
}
.box_1 {
}
._图片 {
}
.label {
  font-size:14px;
  text-align:left;
}
.flow_shape {
}
.connector {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_3 {
}
.sticky_2 {
  text-align:left;
}
.button {
}
.arrow {
}
.sticky_1 {
  text-align:left;
}
._连接线 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.line {
}
.checkbox {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.shape {
}
._图片1 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
.image {
  color:#000000;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_2 {
}
.line1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.primary_button1 {
  color:#FFFFFF;
}
._形状 {
  font-size:13px;
  color:#000000;
}
.tree_node {
  text-align:left;
}
._图像 {
}
.image1 {
}
._图片_ {
}
.html_button {
  text-align:center;
}
.shape1 {
}
.horizontal_line {
}
.box_21 {
}
.box_11 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._形状1 {
}
._水平线 {
}
._垂直线 {
}
.ellipse {
}
._文本段落 {
  text-align:left;
}
.box_22 {
}
._自由编辑 {
}
.image2 {
  color:#000000;
}
.sticky_4 {
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.iconfont {
  font-family:'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.list_box {
  color:#000000;
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.marker {
  color:#FFFFFF;
}
._标签3-历史版本内容，无修改 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.line2 {
}
.refs-chart-data {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.shape2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._形状2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_31 {
}
.line3 {
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
.ellipse1 {
}
.vertical_line {
}
.box_23 {
}
._流程形状 {
}
.connector1 {
}
._图片2 {
  color:#000000;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.table {
}
._形状3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._形状4 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.ui角标 {
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:oblique;
  color:#FFFFFF;
}
._标签3-历史版本内容，无修改1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.connector2 {
}
.new_style {
}
._形状5 {
  font-family:'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
._次按钮（动作列表） {
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
._退出按钮（动作列表） {
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
  text-align:center;
}
._形状6 {
}
.ellipse2 {
}
.icon1 {
}
.ellipse3 {
}
.box_32 {
}
._图片3 {
  color:#000000;
}
.box_12 {
}
textarea, select, input, button { outline: none; }
